@font-face {
    font-family: aksara;
    src: url(fonts/Aksara.ttf);
}

@font-face {
    font-family: pops;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: tektur;
    src: url(fonts/Tektur-VariableFont_wdth\,wght.ttf);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    margin: 0;
    color: white;
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;/* Firefox */
    -ms-user-select: none;/* IE/Edge */
    user-select: none;
    font-family: tektur;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    background-image: url(images/bgimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.5);
}



h1 {
    font-family: aksara;
    color: white;
    text-shadow: 2px 2px 2px red;
    flex: content;
    align-content: center;
}

h1:hover {
    text-shadow: 2px 2px 2px yellow;
    transition: all 0.8s ease;
}

b {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    animation: upAndDown 2s infinite;
}

img:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
    transition: all 0.8s ease;
}

a {
    color: white;
    background-color: blue;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    border-radius: 8px;
}

a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px yellow;
    filter:drop-shadow(0 0 10px red);
    transition: all 0.8s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,td {
    padding: 10px;
    border: 1px solid #ff0000;
}

th {
    background-color: #0f5c2069;
    font-weight: bold;
}

tr {
    text-align: center;
}

ol,
ul {
    margin: 20px 0;
    padding-left: 40px;
}

li {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

.container {
    background-color: black;
    flex: content;
    text-align: center;
}

/*ANIMATION*/
@keyframes upAndDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}